<h1>Answer Questions 3:</h1>

<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="mission_name" class="sr-only">Enter mission  Name</label>
      <input
        (ngModel) ="mission_name"
        type="text"
        class="form-control"
        name="mission_name"
        placeholder="Enter mission naem"
      />
    </div>
    <button (click)="findMission()" type="submit" class="btn btn-primary mb-2">
      Find
    </button>
  </form>
  
  <br />
  <div *ngIf="loading">
    Loading...
  </div>
  
  <div>{{ error }}</div>

  <hr />
<p><b>Mission Name:</b><span> {{ Result.mission_name }}</span></p>
<p><b>Launch Date::</b><span> {{ Result.launch_date_local }}</span></p>
<p><b> Launch Success:</b><span> {{ Result.launch_success }}</span></p>